body {
    background-image: url("train.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    font-family: Cascadia code, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

#wrapper {
   max-width: 700px; 
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all 250ms ease;
    transform: scale(1);
    border: dashed lightblue 2px;
}

#increment-btn {
    background: darkred;
}
#increment-btn:hover {
    transition: all 250ms ease;
    transform: scale(1.055);
}

#save-btn {
    background: darkgreen;
}

#save-btn:hover {
    transform: scale(1.055);
    transition: all 250ms;
}
